/* universal selector  */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
  font-family: "Inter", sans-serif;
}

/* body */
body {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
}

/* common styles */
.container {
  max-width: 1360px;
  width: 100%;
  margin: 0 auto;
}

/* nav section */
nav {
  max-width: 1360px;
  width: 100%;
  margin: 16px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .nav-item {
  display: flex;
  gap: 32px;
  list-style: none;
}
nav .nav-item a {
  text-decoration: none;
  color: #000;
  font-size: 16px;
  font-weight: 500;
  transition: all 0.3s;
}
nav .nav-item a:hover {
  color: #047a35;
}

nav button {
  font-size: 18px;
  color: #fff;
  font-weight: 600;
  border-radius: 5px;
  padding: 10px 15px;
  background: #30b868;
  cursor: pointer;
  transition: all 0.3s;
}
nav button:hover {
  background: #1aa554;
}

/* Banner section */
#banner {
  width: 100%;
  height: 675px;
  background: url("../assets/hero-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section-banner {
  padding-top: 155px;
  text-align: center;
}

.section-banner h4 {
  display: inline-block;
}
.section-banner .sub-title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin: 0 auto;
  font-size: 16px;
  max-width: 235px; /*display flex nichi element full width ney.tai width fixed dichi*/
  width: 100%;
  font-weight: 500;
  color: #30b868;
  background: #fff;
  border-radius: 18px;
  padding: 8px 12px;
}

.section-banner h1 {
  font-size: 75px;
  color: #fff;
  text-transform: capitalize;
  margin-bottom: 16px;
}
.section-banner h1 span {
  display: block;
  color: #30b868;
}

.section-banner p {
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 32px;
  color: #ffffff;
}

/* banner btn */
.banner-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 15px 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px #00000048;

  cursor: pointer;
  transition: all 0.3s;
}
.btns img {
  color: #fff;
}

.btn-bg-1 {
  background: #469165;
  padding: 17px 22px; /*btn-2 te border deyar jonno 2px boro chilo tai btn 1 a 2px padding diye soman korlam*/
}
.btn-bg-2:hover,
.btn-bg-1:hover {
  background: #047e37;
}

.btn-bg-2 {
  border: 2px solid #fff;
  background: transparent;
}
.btns .btn-common,
.btns .btn-unique {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  background: none;
  cursor: pointer;
}

/*  */
.section-note {
  text-align: center;
  margin-top: 50px;
}

.section-note h2 {
  font-size: 52px;
  text-transform: capitalize;
  margin-bottom: 16px;
}
.para {
  font-size: 16px;
  line-height: 26px;
  color: #00000079;
}

.note-cards {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
  gap: 26px;
  margin: 44px 0 120px 0;
}
.note-cards .card {
  padding: 40px 24px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 0 -3px 5px #00000013;
}

.card figure img {
  background: #f95555;
  padding: 15px;
  border-radius: 50%;
}

.card h3 {
  font-size: 24px;
  margin: 16px 0;
  font-weight: 600;
  color: #000;
  text-transform: capitalize;
}

/* Brain section */
.section-brain {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 60px;
  margin-bottom: 120px;
}

.brain-content h4 {
  font-size: 16px;
  font-weight: 500;
  color: #30b868;
  text-transform: uppercase;
}

.brain-content h2 {
  font-size: 52px;
  text-transform: capitalize;
  margin: 16px 0;
}

.brain-content ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 40px;
}

.brain-content ul li {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 16px;
  font-weight: 500;
}

/* easy access section */
.section-easy-access {
  background: #f7f6f2;
  text-align: center;
  padding: 80px 40px;
  border-radius: 10px;
  margin-bottom: 120px;
}

.section-easy-access h2 {
  font-size: 42px;
  text-transform: capitalize;
  margin: 16px 0;
}

.easy-btn {
  display: inline-block;
  padding: 15px 20px;
  border-radius: 8px;
  margin: 24px 0 16px 0;
  background: #30b868;
  cursor: pointer;
  box-shadow: 0 2px 10px #00000048;
  transition: all 0.3s;
}

.easy-btn .btn {
  display: flex;
  align-items: center;
  gap: 10px;

  font-size: 18px;
  color: #fff;
  background: none;
  cursor: pointer;
}
.easy-btn:hover {
  background-color: #109447;
}
.easy-access-content span {
  display: inline-block;
  padding: 0 5px;
}

/* footer section  */
footer {
  background-color: #001931;
}

footer .section-footer {
  padding: 120px 0px 30px 0;
}
.section-footer .footer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 80px;
}
.social-link {
  padding-right: 120px;
}
.social-link p {
  font-size: 20px;
  margin-bottom: 16px;
  color: #fff;
}
.icon {
  display: flex;
  gap: 10px;
}
.icon a {
  text-decoration: none;
  color: #001931;
}
.icon a i {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
}

.footer-copyright {
  color: #ffffff93;
  font-size: 16px;
  padding-top: 32px;
  text-align: center;
  font-style: italic;
  border-top: 3px solid #ffffff17;
}
