/* universal selector  */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
  font-family: "Inter", sans-serif;
}

/* nav section */
nav {
  max-width: 1360px;
  /* width: 100%; */
  margin: 16px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .nav-item {
  display: flex;
  gap: 32px;
  list-style: none;
}
nav .nav-item a {
  text-decoration: none;
  color: #000;
  font-size: 16px;
  font-weight: 500;
  transition: all 0.3s;
}
nav .nav-item a:hover {
  color: #047a35;
}

nav button {
  font-size: 18px;
  color: #fff;
  font-weight: 600;
  border-radius: 5px;
  padding: 10px 15px;
  background: #30b868;
  cursor: pointer;
  transition: all 0.3s;
}
nav button:hover {
  background: #1aa554;
}
